<% include ../partials/head %>
<div class="row">
    <div id="error_msg" style="padding-left: 0px; width: 66%" class="row center-block"></div>
    <div id="login-view" class="col-md-8 col-lg-offset-2" style="margin-bottom: 42px; margin-top: 40px;">
        <div id="error_msg" style="padding-left: 0px; width: 90%" class="row center-block"></div>
        <div class="jumbotron" style="padding-top: 0px;">
            <h1 class="col-lg-offset-4" style="margin-top: 20px;">Prijava</h1>
            <hr style=" margin-bottom: 90px;" />
            <form class="form-horizontal col-lg-offset-3" action="javascript:void(0);">
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="email" name="email" class="form-control" id="email" placeholder='Email'>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 40px;">
                        <div class="col-lg-10">
                            <input type="password" name="password" class="form-control" id="password" placeholder="Sifra">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-lg-offset-1">
                            <button id="login-button" class="btn btn-primary" style="width: 50%; font-size: 25px">Prijavi se</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div id="confirm-code" class="col-md-12" style="display: none;">
        <form class="form-horizontal col-md-6 col-lg-offset-3" action="javascript:void(0);">
            <fieldset>
                <label class="control-label">Unesite aktivacioni kod</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="confcode">
                    <span class="input-group-btn">
                        <button id="confirm-button" class="btn btn-default" type="button">Potvrdi</button>
                    </span>
                </div>
            </fieldset>
            <a id="code-resend-button" style="cursor: pointer">Ponovo posalji aktivacioni kod</a>
        </form>
    </div>
</div>
<script src="/scripts/login.js"></script>