<% include ../partials/head %>
<div class="row">
    <div id="choice" class="col-md-12">
        <div class="col-md-12" style="margin-top: 160px;margin-bottom: 208px;">
            <h1 style="color: #555555; text-align: center; margin-bottom: 20px;">Izaberite nalog:</h1>
            <div class="col-md-12">
                <a id="student" class="btn btn-primary btn-lg center-block" style="width: 300px; margin-bottom: 20px; font-size: 50px">Student</a>
            </div>
            <div class="col-md-12">
                <a id="professor" class="btn btn-primary btn-lg center-block" style="width: 300px; margin-bottom: 20px; font-size: 50px">Profesor</a>
            </div>
        </div>
    </div>
    <div id="signup-student" class="col-md-8 col-lg-offset-2" style="display: none;margin-bottom: -21px;">
        <div class="jumbotron" style="padding-top: 0px;padding-bottom: 10px">
            <h1 style="margin-top: 20px; text-align:center">Registracija</h1>
            <hr style=" margin-bottom: 20px;" />
            <form class="form-horizontal col-lg-offset-3" action="/signup" method="post">
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="text" name="name" class="form-control" placeholder="Ime i prezime">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="email" name="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="password" name="password" class="form-control" placeholder="Sifra">
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 40px;">
                        <div class="col-lg-10">
                            <input type="password" name="confirm" class="form-control" placeholder="Potvrdi sifru">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="number" name="index" class="form-control" placeholder="Broj indeksa">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="number" name="year" class="form-control" placeholder="Godina studija">
                        </div>
                    </div>
                    <input type="hidden" name="user" value="student">
                    <div class="form-group">
                        <div class="col-md-10 col-lg-offset-1">
                            <button type="submit" class="btn btn-primary" style="width: 50%;font-size: 25px">Registruj se</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div id="signup-professor" class="col-md-8 col-lg-offset-2" style="display: none; margin-bottom: 6px; margin-top: 40px;" >
        <div class="jumbotron" style="padding-top: 0px">
            <h1 style="margin-top: 20px; text-align:center">Registracija</h1>
            <hr style=" margin-bottom: 20px;" />
            <form class="form-horizontal col-lg-offset-3" action="/signup" method="post">
                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="text" name="name" class="form-control" id="author" placeholder="Ime i prezime">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="email" name="email" class="form-control" id="author" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="password" name="password" class="form-control" id="artist" placeholder="Sifra">
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 40px;">
                        <div class="col-lg-10">
                            <input type="password" name="confirm" class="form-control" id="artist" placeholder="Potvrdi sifru">
                        </div>
                    </div>
                    <input type="hidden" name="user" value="professor">
                    <div class="form-group">
                        <div class="col-md-10 col-lg-offset-1">
                            <button type="submit" class="btn btn-primary" style="width: 50%;font-size: 25px">Registruj se</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script src="/scripts/signup.js"></script>
<% include ../partials/footer %>