<% include ./partials/head %>
<div class="jumbotron">
    <h1>Node.js i pristup bazi podataka</h1>
    <p>Ova aplikacija predstavlja demo aplikaciju diplomskog rada na temu Node.js i pristup bazi podataka. I ima za cilj prikaz mogucnosti pristupa Node.js-a MariaDB relacionj bazi podataka. Za implementaciju koricen je Node.js kao back end server i Sequleize ORM-a za pristup MariaDB relacionj bazi podataka.</p>
    <p>Sama demo aplikacija predstavlja aplikaciju za onalaj konsultacije pomocu grupnog chat-a. Ima mogucnost prijave korisnika koji mogu da se deklarisu kao profesori ili studenti. Profesori zatim mogu da prijave svoje predmete za koje mogu da drze konsultacije a studenti mogu da zahtevaju konsultacije na ovim predmetima. Nakon dobijanja zahteva profesor odredjuje vreme odrzavanja konsultacije nakon cega u definisanom vremenu konsultacija moze da se odrzi u grupnom chat-u.</p>
    <p>&nbsp;</p>
    <p><a href="/signup" class="btn btn-primary btn-lg" style="font-size: 25px; margin-right: 20px">Registrovanje</a> <a href="/login" class="btn btn-primary btn-lg" style="font-size: 25px">Prijava</a></p>
</div>
<% include ./partials/footer %>