    <hr />
    <% if(model.footer == null) {%>
        <footer>
            <p class="text-muted">Napravio Stefan Stamenovic ©2017</p>
        </footer>
    <%}%>
    </div>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/respond.min.js"></script>
</body>
</html>